@mixin flexContent($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin imageBlur($amount) {
    filter: blur($amount);
}

.service {
    background-color: #d57a80;
}

.service-container {
    @include flexContent(row);
    height: 60%;
}

//Carousel
.lumin-content-container {
    @include flexContent(column);
    justify-content: center;
    // border: solid red 1px;
    width: 40%;
}

.service-title {
    h1 {
        font-size: 48px;
    }
}

.service-content {
    h1 {
        font-size: 36px;
    }
}

.lumin-image-container {
    // border: solid green 1px;
    @include flexContent(row);
    justify-content: center;
    align-items: center;
    width: 50%;
    overflow: hidden;

    .list {
        border: solid orange 2px;
        position: absolute;
        top: 10px;
        width: 50%;
        height: 60%;
    }

    #item-1 {
        transform: translateX(0);
        position: absolute;
        z-index: 30;
        top: 15rem;
        left: 0;

        .service-img {
            width: 400px;
            height: 400px;
        }
    }

    #item-2 {
        position: absolute;
        z-index: 20;
        top: 5rem;
        left: 15rem;
        @include imageBlur(4px);

        .service-img {
            width: 250px;
            height: 250px;
        }
    }

    #item-3 {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 25rem;
        @include imageBlur(8px);

        .service-img {
            width: 150px;
            height: 150px;
        }
    }
}
