@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  --background: #ffffff;
  --background-2: #fefffe;
  --background-3: #edecec;
  --background-4: #dadadb;
  --foreground: #171717;
  --foreground-2: #272626;
  --foreground-3: #3b3b3a;
  --foreground-4: #4c4c4c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --background-2: #272626;
    --background-3: #3b3b3a;
    --background-4: #4c4c4c;
    --foreground: #ededed;
    --foreground-2: #fefffe;
    --foreground-3: #edecec;
    --foreground-4: #dadadb;
  }
}


.light {
  --background: #ffffff !important;
  --background-2: #fefffe !important;
  --background-3: #edecec !important;
  --background-4: #dadadb !important;
  --foreground: #171717 !important;
  --foreground-2: #272626 !important;
  --foreground-3: #3b3b3a !important;
  --foreground-4: #4c4c4c !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slider-btn-holder {
  @apply flex flex-row space-x-4;
}

.slider-btn {
  @apply w-3 h-3 rounded-full hover:bg-slate-300 z-10 relative top-8 left-8;
}

.slider {
  @apply flex flex-row;
  transition: transform 0.5s ease-in-out;
}

.slide {
  @apply ml-auto rounded-md w-[1543px] h-[576px];
}

.text-for-line-animation {}

.line-animation {
  @apply border-t-[1px] border-white w-16;
  /* animation: line 1s linear infinite; */
  transform-origin: left;
}

@keyframes line {
  0% {
    width: 64px;
  }

  100% {
    width: 0px;
  }
}

.service-background {
  background-color: var(--background-2);
}
.product-background {
  background-color: var(--background-3);
}