@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slider-btn-holder {
  @apply flex flex-row space-x-4;
}

.slider-btn {
  @apply w-3 h-3 rounded-full hover:bg-slate-300 z-10 relative top-8 left-8;
}

.slider {
  @apply flex flex-row;
  transition: transform 0.5s ease-in-out;
}

.slide {
  @apply ml-auto rounded-md w-[1543px] h-[576px];
}

.text-for-line-animation {
  
}

.line-animation {
  @apply border-t-[1px] border-white w-16;
  /* animation: line 1s linear infinite; */
  transform-origin: left;
}

@keyframes line {
  0% {
    width: 64px;
  }
  100%{
    width: 0px;
  }
}